
body {
    background-color: lightgray; 
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: black;
    }

.post-card {
    width: 350px; 
    max-width: 90vw;
    background-color: white; 
    border: 1px solid #ccc;
    box-sizing: border-box; 
    color: black; 
}


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.profile-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.username {
    font-size: 14px;
    margin-right: 3px;
    font-weight: normal; 
}

.user-nickname {
    font-size: 14px;
}


.menu-icon {
    
    width: 3px;
    height: 3px;
    background-color: black; 
    border-radius: 50%;
    box-shadow: 0 5px 0 black, 0 10px 0 black; 
    transform: rotate(90deg);
    cursor: pointer;
    margin-right: 5px;
}


.post-image-container {
    width: 100%;
}

.post-image {
    width: 100%;
    display: block;
}


.post-footer {
    padding: 0 10px 10px 10px; 
}


.actions {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.icon {
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
  
}

.icon.save-icon {
    margin-right: 0;
}

.icon:nth-child(3) {
    margin-right: auto; 
}



.likes-count {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 8px;
}

.likes-count strong {
    font-weight: bold;
}


.caption p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 5px;
}